body{
    font-family: tahoma;
    
}

input,textarea{
 width: 100%;
 margin-bottom: 20px;
 padding: 7px;
 box-sizing: 30px;
 font-size: 17px;
 border: none;
}

#form{
    color: white;
 width: 450px;
 margin: auto;
 background: rgba(64, 140, 195,1.5);
 padding: 10px 20px;
 box-sizing: border-box;
 margin-top: 30px;
 border-radius: 2px;
}

h2{
    
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10;
}


#option{
    height:5%;
    width: 100%;
    font-family: tahoma; 
    
    
}

#btn{
    font-family: tahoma;
    height:7.5%;
    width: 25%;
    font-size: 100%;
    background: #85C1E9;
    color: white;

}
#btn:hover{
    background: #3498DB;
    cursor: pointer;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}


@media (max-width:480px){
    #form{
        width:100%;
    }
}